@charset "utf-8";


/*-------------------------
	Simple reset
--------------------------*/
.cg_filemanager {
	background-color: #23232e;
	width: 95%;
	min-width: 950px;
	max-width:1340px;
	position: relative;
	margin: 20px auto; 
	z-index: 0;
}

.cg_filemanager *{
	margin:0;
	padding:0;
}

.cg_filemanager h1 {
	text-align: center;
}

.cg_filemanager .cg_hidden {
	display: none;
}

.cg_filemanager .cover {
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #23232e;
	opacity: .7;
	position: absolute;
	top: 0;
	left: 0;
}

.cg_filemanager .loading {
	width: 1000px;
	height: 1000px;
	z-index: 2;
	background-color: #23232e;
	opacity: .7;
	position: absolute;
	top: 0;
	left: 0;
}

.cg_filemanager .loading img {
	margin-left: 500px;
	margin-top: 200px;
}

.cg_filemanager .renaming {
	z-index: 3;
}
.cg_filemanager .button {
	width: 50px;
	height: 50px;
}

.cg_filemanager .button_large {
	width: 100px;
	height: 50px;
}

.cg_filemanager #Home:hover {
	background: transparent;
}


/*-------------------------
	File manager
-------------------------*/
.cg_filemanager .cut-ready {
	opacity: 0.3 !important;
}

.cg_filemanager .paste-ready {
	opacity: 0.5;
}



@media all and (max-width: 965px) {
	.cg_filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}

.cg_filemanager .section {
	display: inline-block;
	margin-right: 20px;
}

/*-------------------------
	Content area
-------------------------*/

.cg_filemanager .data {
	margin-top: 15px;
	z-index: -3;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.cg_filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.cg_filemanager .data li {
	border-radius: 3px;
	background-color: #373743;
	width: 170px;
	height: 60px;
	list-style-type: none;
	margin: 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	/*z-index: 1;*/
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.cg_filemanager .data li.list {
	display: block;
}


.cg_filemanager .data li:hover {
	background-color: #42424E;
}
.cg_filemanager .data li.selected {
	background-color: #42424E; 
}

.cg_filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cg_filemanager .data li .icon_filemanager {
	width: 48px;
	height: 48px;
	margin-top: 10px;
	margin-left: 11px;
	margin-right: 15px;
}

.cg_filemanager .data li .icon_file {
	max-width: 48px;
	max-height: 48px;
	width: auto;
	height: auto;
	margin-left: 11px;
	margin-right: 15px;
}


.cg_filemanager .data li .name {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	width: 75px;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 18px;
}

.cg_filemanager .data li .input_field {
	color: #000000;
	font-size: 15px;
	font-weight: 700;
	line-height: 15px;
	width: 75px;
	white-space: nowrap;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 15px;
	z-index: 2;
}

.cg_filemanager .data li .hint {
	position: absolute;
	top: 38px;
	left: 70px;
	padding: 2px;
	border-radius: 3px;
	z-index: 3;
	background-color: white;
}

.cg_filemanager .data li .details {
	color: #b6c1c9;
	font-size: 13px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 34px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}


.cg_filemanager .mark {
	position: absolute;
	top: 5px;
	right: 5px;
}

/*path styling*/
.cg_filemanager #directory_tree {
	width: 95%;
	min-width: 930px;
	max-width:1340px;
	margin: auto;
	margin-top: 20px;
}

.cg_filemanager #directory_tree li{
	color: #b6c1c9;
	background-color: #373743;
	font-size: 20px;
	font-weight: 400;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 20px;
}
.cg_filemanager #directory_tree li:hover{
	background-color: #42424E;
}

/*.cg_filemanager #directory_tree li:last-child{
	border-right: 2px solid white;
}
*/



@media all and (max-width:965px) {

	.cg_filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

